<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Edit your listing</h3>
      <form
        method="POST"
        action="/listings/<%= listing._id %>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            id=""
            value="<%= listing.title %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter a Title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            id=""
            class="form-control"
            required
          >
<%= listing.description %></textarea
          >
          <div class="invalid-feedback">Please Enter The Description!!</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Original Listing Image</label><br />
          <img
            src="<%= originalImageUrl %>"
            alt="Listing Image"
            class="img-fluid w-25 rounded shadow-sm"
          />
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input name="listing[image]" type="file" id="" class="form-control" />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              id=""
              value="<%= listing.price %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter a Valid Price!!</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              id=""
              value="<%= listing.country %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter Country Name!!</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%= listing.location %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter The Location!!</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button><br /><br />
      </form>
    </div>
  </div>
</body>
